XMLSchema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
<xs:element name="Items">
	<xs:complexType>
		<xs:sequence>
		<xs:element name="item" maxOccurs="unbounded">
			<xs:complexType>
        <xs:sequence>
      <xs:element name="IsThereDroppedItem" type="xs:string"/>
      <xs:element name="CanBeMelted" type="xs:string" minOccurs="0"/>

		</xs:sequence>
				<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:element>
</xs:sequence>
  </xs:complexType>
</xs:element> 
</xs:schema>


